<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>blwsk</title>

<script type="text/javascript" src="//use.typekit.net/vht6sjr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<link rel="stylesheet" type="text/css" href="css/style.css">

<link rel="shortcut icon" href="https://s3.amazonaws.com/blwsk/favicon.ico">

</head>
<body>


  <div class="bar">
    <div class="content">

      <ul class="nav">

        <!-- logo -->
        <li class="top nav-item">
          <a class="logo" href="/">Kevin Bielawski</a>
          <span id="more" class="more mobile-only" mobile="closed">More</span>
        </li>

        <!-- nav -->
        <li class="about nav-item mobile-hide"><a href="/about">About me</a></li>
        <li class="projects nav-item mobile-hide"><a href="/projects">Projects</a></li>

        <!-- find me on... -->
        <li class="nav-item mobile-hide"><a class="twitter" href="http://twitter.com/blwsk">Twitter</a></li>
        <li class="nav-item mobile-hide"><a class="github" href="http://github.com/blwsk">GitHub</a></li>
        <li class="nav-item mobile-hide"><a class="medium" href="http://medium.com/@kevinbielawski">Medium</a></li>
        <li class="nav-item mobile-hide"><a class="soundcloud" href="http://soundcloud.com/kevinbielawski">SoundCloud</a></li>

      </ul>

    </div>
  </div>



  <div class="main">
    <div class="content">

      <h2>Hey!</h2>
      <h5>My name is Kevin Bielawski, clearly. This page should help you learn a bit about me.</h5>


    </div>
  </div>



<script src="js/jquery.js"></script>
<script src="js/main.js"></script>
</body>
</html>
