<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Datastore Demo</title>
  <style>
    .container {
      width: 700px;
      margin: 0 auto;
    }
  </style>
</head>
<body>

<div class="container">
  <h1>Dropbox Datastore API Demo</h1>
  <div class="dropbox"></div>
  <!--
  <form>
    <input type="text" id="number" placeholder="Number">
    <input type="submit" id="addNumber" value="Submit">
    <span id="alerts" style="color:red;"></span>
  </form>
-->
</div>


<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js" type="text/javascript"></script>
<script>
(function( $ ){

if ( localStorage['dropbox-auth:default:y92XNDaWdhOzboO9Zzt5CsDu4'] == null ) {
  $('.dropbox').html('<button id="linkToDropbox">Link to Dropbox</button>');
}


var client = new Dropbox.Client({key: 'x50d5rsts3b6fcu'});

// Try to finish OAuth authorization.
client.authenticate({interactive: false}, function (error) {
    if (error) {
        alert('Authentication error: ' + error);
    }
});

if (client.isAuthenticated()) {
    // Client is authenticated. Display UI.
}

$('#linkToDropbox').click( function() {
  client.authenticate();
  $(this).hide();
});

var datastoreManager = client.getDatastoreManager();
datastoreManager.openDefaultDatastore(function (error, datastore) {
  if (error) {
    alert('Error opening default datastore: ' + error);
  }

  var taskTable = datastore.getTable('tasks');

  var firstTask = taskTable.insert({
    taskname: 'Buy milk',
    completed: false,
    created: new Date()
  });

});


})( jQuery );
</script>
</body>
</html>