<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- title --><title>...</title>
<script type="text/javascript" src="//use.typekit.net/cia1yxc.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!-- bootstrap --><link rel="stylesheet" href="p/text/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- style --><link rel="stylesheet" href="p/text/style.css">
<!-- icons --><link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- shortcut --><link rel="shortcut icon" href="https://s3.amazonaws.com/blwsk/favicon.ico">
</head>
<body>

  <div class="container"></div>


<!-- jquery --><script src="p/text/bower_components/jquery/jquery.min.js"></script>
<!-- main --><script src="p/text/main.js"></script>
</body>
</html>