
<h2>Workout Log</h2>

<div class="new-workout">
  <div class="title">New Workout</div>
  <form>

    <section>
      <label>Date</label>
      <input type="text" placeholder="The date, yo" autofocus>
    </section>

    <section>
      <label>Type</label>
      <ul class="options">
        <li class="option erg">Erg</li><li class="option run">Run</li><li class="option stairs">Stairs</li><li class="option lift">Lift</li>
      </ul>
    </section>

    <div id="erg" class="type-focus">
      <section>
        <label>Description</label>
        <input type="text" placeholder="What kind of pieces?">
      </section>
      <section>
        <label>Split/500m</label>
        <input type="text" placeholder="1:51.0...">
      </section>
      <section>
        <label>Stroke Rate</label>
        <input type="number" placeholder="22SPM...">
      </section>
      <section>
        <label>Heartrate</label>
        <input type="number" placeholder="150BPM...">
      </section>
      <section>
        <label>Calories</label>
        <input type="number" placeholder="1217 calories...">
      </section>
      <input type="submit" value="Add Workout">
    </div>

    <div id="run" class="type-focus">
      <section>
        <label>Description</label>
        <input type="text" placeholder="Where did you run?">
      </section>
      <section>
        <label>Time</label>
        <input type="text" placeholder="How long did it take you?">
      </section>
      <section>
        <label>Heartrate</label>
        <input type="number" placeholder="150BPM...">
      </section>
      <section>
        <label>Calories</label>
        <input type="number" placeholder="1217 calories...">
      </section>
      <input type="submit" value="Add Workout">
    </div>

    <div id="stairs" class="type-focus">
      <section>
        <label>Description</label>
        <input type="text" placeholder="Where did you do them?">
      </section>
      <section>
        <label>Flights</label>
        <input type="text" placeholder="How many flights?">
      </section>
      <section>
        <label>Time</label>
        <input type="text" placeholder="How long did it take you?">
      </section>
      <section>
        <label>Heartrate</label>
        <input type="number" placeholder="150BPM...">
      </section>
      <section>
        <label>Calories</label>
        <input type="number" placeholder="1217 calories...">
      </section>
      <input type="submit" value="Add Workout">
    </div>

    <div id="lift" class="type-focus">
      <section>
        <label>Description</label>
        <input type="text" placeholder="What did you do?">
      </section>
      <section>
        <label>Notes</label>
        <input type="text" placeholder="Say what's up...">
      </section>
      <input type="submit" value="Add Workout">
    </div>

  </form>
</div>

<div class="workout-log">
  <div class="title">Archived Workouts</div>

  <section>

    <article>
      <div class="date">131213</div>
      <p>Blah blah blah</p>
    </article>

    <article>
      <div class="date">131213</div>
      <p>Blah blah blah</p>
    </article>

  </section>
</div>











