<article>
  <div class="date">131215</div>
  <a href="http://www.veoh.com/watch/v33652224fPz4CTp8" target="_blank"><img src="https://s3.amazonaws.com/blwsk/kurt-cobain.jpg"></a>
</article>

<article>
  <div class="date">131215</div>
  <a href="http://www.matthewsnowden.co.uk/" target="_blank"><img src="https://s3.amazonaws.com/blwsk/matthew-snowden-trearddur.jpg"></a>
</article>

<article>
  <div class="date">131214</div>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/17520289&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
</article>

<article>
  <div class="date">131213</div>
  <p>I've decided to create a simple workout log. It'll probably use a PostgreSQL database and (maybe) Facebook login. Find it at <a href="/erg">/erg</a>.</p>
</article>

<article>
  <div class="date">131212</div>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/4009736&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
</article>

<article>
  <div class="date">131211</div>
  <img src="https://s3.amazonaws.com/blwsk/green-pixels.png">
</article>

<article>
  <div class="date">131210</div>
  <a href="http://pitchfork.com/features/staff-lists/9275-the-top-25-album-covers-of-2013/" target="_blank"><img src="https://s3.amazonaws.com/blwsk/big-tv.jpg"></a>
</article>

<article>
  <div class="date">131209</div>
  <p>I thought it might be worthwhile to describe my process through which I created this site. First, I designed the frontend in responsive HTML5, with some jQuery involved in the hide/view nav function on the mobile side. The stylesheets are coded in SASS. I used <a href="http://hammerformac.com/">Hammer</a> + <a href="http://anvilformac.com/">Anvil</a> for prototyping. Next, I created a simple Node.js application, which is used to serve the static pages I created. Finally, it's been deployed to Heroku via git, with DNS handled by Amazon Web Services' Route 53.</p>
</article>

<article>
  <div class="date">131209</div>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119207399&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
</article>

<article>
  <div class="date">131206</div>
  <a href="http://www.arestlesstransplant.com/" target="_blank"><img src="https://s3.amazonaws.com/blwsk/mexican-peelers.jpg"></a>
</article>

<article>
  <div class="date">131204</div>
  <p>Here's something I created for a paper I'm writing: <a href="/lottery">link</a>. It's an app that calculates one's expected preference between two simple lotteries. [UPDATED]</p>
</article>

<article>
  <div class="date">131203</div>
  <p>Welcome to blwsk.com. It's not too bad, no?</p>
</article>