<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" apple-mobile-web-app-capable>


<title>blwsk</title>

<script type="text/javascript" src="//use.typekit.net/vht6sjr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<link rel="stylesheet" type="text/css" href="css/style.css">

<link rel="shortcut icon" href="https://s3.amazonaws.com/blwsk/favicon.ico">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">

</head>
<body>


  <div class="bar">
    <div class="content">

      <ul class="nav">

        <!-- logo -->
        <li class="top nav-item">
          <a class="logo" href="/">Kevin Bielawski</a>
          <span id="more" class="more mobile-only" mobile="closed">More</span>
        </li>

        <!-- nav -->
        <li class="about nav-item mobile-hide"><a href="/about">About me</a></li>
        <li class="projects nav-item mobile-hide"><a href="/projects">Projects</a></li>

        <!-- find me on... -->
        <li class="nav-item mobile-hide"><a class="twitter" href="http://twitter.com/blwsk">Twitter</a></li>
        <li class="nav-item mobile-hide"><a class="github" href="http://github.com/blwsk">GitHub</a></li>
        <li class="nav-item mobile-hide"><a class="medium" href="http://medium.com/@kevinbielawski">Medium</a></li>
        <li class="nav-item mobile-hide"><a class="soundcloud" href="http://soundcloud.com/kevinbielawski">SoundCloud</a></li>

      </ul>

    </div>
  </div>



  <div class="main">
    <div class="content">

      <article>
        <div class="date">131211</div>
        <img src="https://s3.amazonaws.com/blwsk/green-pixels.png">
      </article>

      <article>
        <div class="date">131210</div>
        <a href="http://pitchfork.com/features/staff-lists/9275-the-top-25-album-covers-of-2013/"><img src="https://s3.amazonaws.com/blwsk/big-tv.jpg"></a>
      </article>

      <article>
        <div class="date">131209</div>
        <p>I thought it might be worthwhile to describe my process through which I created this site. First, I designed the frontend in responsive HTML5, with some jQuery involved in the hide/view nav function on the mobile side. The stylesheets are coded in SASS. I used <a href="http://hammerformac.com/">Hammer</a> + <a href="http://anvilformac.com/">Anvil</a> for prototyping. Next, I created a simple Node.js application, which is used to serve the static pages I created. Finally, it's been deployed to Heroku via git, with DNS handled by Amazon Web Services' Route 53.</p>
      </article>

      <article>
        <div class="date">131209</div>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119207399&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
      </article>

      <article>
        <div class="date">131206</div>
        <a href="http://www.arestlesstransplant.com/"><img src="https://s3.amazonaws.com/blwsk/mexican-peelers.jpg"></a>
      </article>

      <article>
        <div class="date">131204</div>
        <p>Here's something I created for a paper I'm writing: <a href="/lottery">link</a>. It's an app that calculates one's expected preference between two simple lotteries. [UPDATED]</p>
      </article>

      <article>
        <div class="date">131203</div>
        <p>Welcome to blwsk.com. It's not too bad, no?</p>
      </article>

    </div>
  </div>



<script src="js/jquery.js"></script>
<script src="js/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46337232-1', 'blwsk.com');
  ga('send', 'pageview');
</script>
</body>
</html>
