<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>Notes</title>

<script type="text/javascript" src="//use.typekit.net/vht6sjr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<link rel="stylesheet" href="p/notes/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="p/notes/css/notes.css">

<link rel="shortcut icon" href="https://s3.amazonaws.com/blwsk/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="https://s3.amazonaws.com/blwsk/apple-touch-icon-precomposed.png">

</head>
<body>
<div class="container">



<div class="col-left">
  <a href="#"><div class="logo"></div></a>
</div><!-- end col-left -->




<div class="col-center">

  <div class="add-task">
    <textarea placeholder="add a new task" autofocus></textarea>
  </div>

  
  <div class="task-list">

    <div class="task">
      <div class="task-title">Buy a gallon of milk</div>
      <span class="task-delete glyphicon glyphicon-remove"></span><span class="task-archive glyphicon glyphicon-ok"></span>
    </div>

    <div class="task">
      <div class="task-title">Study guide for history midterm</div>
      <span class="task-delete glyphicon glyphicon-remove"></span><span class="task-archive glyphicon glyphicon-ok"></span>
    </div>

    <div class="task">
      <div class="task-title">Walk the dog</div>
      <span class="task-delete glyphicon glyphicon-remove"></span><span class="task-archive glyphicon glyphicon-ok"></span>
    </div>

    <div class="task">
      <div class="task-title">Specs for new web app</div>
      <span class="task-delete glyphicon glyphicon-remove"></span><span class="task-archive glyphicon glyphicon-ok"></span>
    </div>

    <div class="task">
      <div class="task-title">Buy a gallon of milk</div>
      <span class="task-delete glyphicon glyphicon-remove"></span><span class="task-archive glyphicon glyphicon-ok"></span>
    </div>

    <div class="task">
      <div class="task-title">Study guide for history midterm</div>
      <span class="task-delete glyphicon glyphicon-remove"></span><span class="task-archive glyphicon glyphicon-ok"></span>
    </div>

    <div class="task">
      <div class="task-title">Walk the dog</div>
      <span class="task-delete glyphicon glyphicon-remove"></span><span class="task-archive glyphicon glyphicon-ok"></span>
    </div>

    <div class="task">
      <div class="task-title">Specs for new web app</div>
      <span class="task-delete glyphicon glyphicon-remove"></span><span class="task-archive glyphicon glyphicon-ok"></span>
    </div>

    <div class="task">
      <div class="task-title">Buy a gallon of milk</div>
      <span class="task-delete glyphicon glyphicon-remove"></span><span class="task-archive glyphicon glyphicon-ok"></span>
    </div>

    <div class="task">
      <div class="task-title">Study guide for history midterm</div>
      <span class="task-delete glyphicon glyphicon-remove"></span><span class="task-archive glyphicon glyphicon-ok"></span>
    </div>

    <div class="task">
      <div class="task-title">Walk the dog</div>
      <span class="task-delete glyphicon glyphicon-remove"></span><span class="task-archive glyphicon glyphicon-ok"></span>
    </div>

    <div class="task">
      <div class="task-title">Specs for new web app</div>
      <span class="task-delete glyphicon glyphicon-remove"></span><span class="task-archive glyphicon glyphicon-ok"></span>
    </div>

  </div>


</div><!-- end col-center -->




<div class="col-right">
  <ul class="nav">
    <li class="user"><a href="#">Kevin</a></li>
    <li class="archive"><a href="#">Archive</a></li>
    <li id="nav-more" class="more" haha="0">
      <a href="#">
        <span id="nav-more-text">More </span>
        <span id="nav-more-icon"><span class="more-glyph glyphicon glyphicon-chevron-down"></span></span>
      </a>
    </li>
    <li class="trash hidden" style="display:none;"><a href="#">Trash</a></li>
    <li class="settings hidden" style="display:none;"><a href="#">Settings</a></li>
    <li class="help hidden" style="display:none;"><a href="#">Help</a></li>
  </ul>
</div><!-- end col-right -->



</div><!-- end container -->
<script src="p/notes/js/jquery.js"></script>
<script src="p/notes/js/packages.js"></script>
<script src="p/notes/js/app.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46337232-1', 'blwsk.com');
  ga('send', 'pageview');
</script>
</body>
</html>