<h2>Projects</h2>
<h5>At this location, I'll post some updates about the projects I'm working on. Before that occurs, checkout my GitHub profile (on the left).</h5>

<article>
  <div class="date">140103</div>
  <p>Here's a mockup of a notes+tasks app on which I'm working. Find it at <a href="/notes">/notes</a>.</p>
</article>

<article>
  <div class="date">131213</div>
  <p>I've decided to create a simple workout log. It'll probably use a PostgreSQL database and (maybe) Facebook login. Find it at <a href="/erg">/erg</a>.</p>
</article>

<article>
  <div class="date">131209</div>
  <p>Here's something I created for a paper I'm writing: <a href="/lottery">link</a>. It's an app that calculates one's expected preference between two simple lotteries.</p>
</article>