<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" apple-mobile-web-app-capable>

<title>blwsk</title>

<script type="text/javascript" src="//use.typekit.net/vht6sjr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<link rel="stylesheet" type="text/css" href="css/style.css">

<link rel="shortcut icon" href="https://s3.amazonaws.com/blwsk/favicon.ico">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">

</head>
<body>


  <div class="bar">
    <div class="content">

      <ul class="nav">

        <!-- logo -->
        <li class="top nav-item">
          <a class="logo" href="/">Kevin Bielawski</a>
          <span id="more" class="more mobile-only" mobile="closed">More</span>
        </li>

        <!-- nav -->
        <li class="about nav-item mobile-hide"><a href="/about">About me</a></li>
        <li class="projects nav-item mobile-hide"><a href="/projects">Projects</a></li>

        <!-- find me on... -->
        <li class="nav-item mobile-hide"><a class="twitter" href="http://twitter.com/blwsk">Twitter</a></li>
        <li class="nav-item mobile-hide"><a class="github" href="http://github.com/blwsk">GitHub</a></li>
        <li class="nav-item mobile-hide"><a class="medium" href="http://medium.com/@kevinbielawski">Medium</a></li>
        <li class="nav-item mobile-hide"><a class="soundcloud" href="http://soundcloud.com/kevinbielawski">SoundCloud</a></li>

      </ul>

    </div>
  </div>



  <div class="main">
    <div class="content">

      
      <h2>Projects</h2>
      <h5>At this location, I'll post some updates about the projects I'm working on. Before that occurs, checkout my GitHub profile (on the left).</h5>

      <article>
        <div class="date">131209</div>
        <p>Here's something I created for a paper I'm writing: <a href="/lottery">link</a>. It's an app that calculates one's expected preference between two simple lotteries.</p>
      </article>


    </div>
  </div>



<script src="js/jquery.js"></script>
<script src="js/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46337232-1', 'blwsk.com');
  ga('send', 'pageview');
</script>
</body>
</html>
