<h2>Projects</h2>
<h5>At this location, I'll post some updates about the projects I'm working on. Before that occurs, checkout my GitHub profile (on the left).</h5>

<article>
  <div class="date">131209</div>
  <p>Here's something I created for a paper I'm writing: <a href="/lottery">link</a>. It's an app that calculates one's expected preference between two simple lotteries.</p>
</article>