<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Search / Kevin Bielawski</title>
  <script src="//use.typekit.net/rxj5ree.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <input type="text" id="query" placeholder="Query">
  <input type="submit" id="search" value="Search">
  <p id="p"></p>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    (function() {
      $('#search').click( function() {
        var url = '/search/' + $('#query').val();
        $.getJSON(url, function(data) {
          $('#p').html(JSON.stringify(data));
        })
      });
    })();
  </script>
</body>
</html>
