<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- title --><title>Editing...</title>
<script type="text/javascript" src="//use.typekit.net/cia1yxc.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!-- bootstrap --><link rel="stylesheet" href="p/text/bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- style --><link rel="stylesheet" href="p/text/style.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- shortcut --><link rel="shortcut icon" href="https://s3.amazonaws.com/blwsk/favicon.ico">
</head>
<body navOn="false">

  <div class="side-container-left">
    <div class="brand">Editing...</div>
    <ul class="category nav">
      <li class="category-title">Writing</li>
      <li class="category-item"><i class="fa fa-plus"></i>New document</li>
      <li class="category-item"><i class="fa fa-folder-open-o"></i>View documents</li>
    </ul>
    <ul class="category nav">
      <li class="category-title">Account</li>
      <li class="category-item"><i class="fa fa-cogs"></i>Edit settings</li>
      <li class="category-item"><i class="fa fa-power-off"></i>Logout</li>
    </ul>
  </div>

  <div class="container">

    <div class="text" contenteditable>
      <!--
      <div class="title">This is doc's the title</div>
      <div class="subtitle">Right here lies the subtitle and the subtitle is pretty long and spans two lines</div>

      <p>“Today you have heard some allegations that are shocking and explosive,” he told reporters at a hastily called press conference. “All I ask <a href="#">is that the people of the great state</a> of New Jersey give me sufficient time to invent a new story that explains my way out of this.”</p>
      <p>Governor Christie said that he had spent the past few hours in closed-door meetings trying to come up with a new narrative that absolves him of any guilt in the bridge scandal, but while he was definitely denying the allegations, “so far, we don’t have a winner.”</p>
      <div class="section-title">Section title</div>
      <p>“We’ve been tossing around everything from my not remembering events correctly to my having a bad reaction to medication,” he said. “We even floated the idea of my being under too much pressure and having to ‘blow off steam.’ As I said, we don’t have a winner yet. But I want to reassure the people of New Jersey that I am working very hard on this.”</p>
      <p>“Today you have heard some allegations that are shocking and explosive,” he told reporters at a hastily called press conference. “All I ask <a href="#">is that the people of the great state</a> of New Jersey give me sufficient time to invent a new story that explains my way out of this.”</p>
      <p>Governor Christie said that he had spent the past few hours in closed-door meetings trying to come up with a new narrative that absolves him of any guilt in the bridge scandal, but while he was definitely denying the allegations, “so far, we don’t have a winner.”</p>
      <div class="section-title">Section title</div>
      <p>“We’ve been tossing around everything from my not remembering events correctly to my having a bad reaction to medication,” he said. “We even floated the idea of my being under too much pressure and having to ‘blow off steam.’ As I said, we don’t have a winner yet. But I want to reassure the people of New Jersey that I am working very hard on this.”</p>
      -->
    </div>
  </div>

  <div class="side-container-right">
  </div>

  <footer></footer>


<!-- jquery --><script src="p/text/bower_components/jquery/jquery.min.js"></script>
<!-- main --><script src="p/text/main.js"></script>
</body>
</html>