
$slate: rgb(41,41,41);
$stone: rgb(61,61,61);
$mouse: rgb(121,121,121);
$grey: rgb(191,191,191);
$mist: rgb(211,211,211);
$fog: rgb(241,241,241);

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: white;
  font-family: 'source-code-pro', monospace;
  font-size: 13px;
  color: $slate;
  line-height: 1.7em;
}

a {
  color: $slate;
  text-decoration: none;
  -webkit-transition: 0.2s color, 0.2s background;
  cursor: pointer;

  &:hover,
  &:active {
    color: white;
    background: $slate;
  }
}

ul {
  height: 100%;
  list-style-type: none;
}


//
//  container
//
.container {
  margin: 0 auto;
}
.container-700 { width: 700px; }
.container-900 { width: 900px; }
@media (max-width: 500px) {
  .container-700,
  .container-900 {
    width: 100%;
  }
}


.layout {}

ul.nav {
  position: fixed;
  height: 100%;
  width: 25%;
  float: left;
  text-align: right;
  padding: 1.5em;
  opacity: 0.25;
  -webkit-transition: 0.2s opacity;

  br {
    display: none;
  }

  &:hover {
    opacity: 1.0;
  }
}
@media (max-width: 500px) {
  ul.nav {
    height: 4.7em;
    width: 100%;
    float: auto;
    text-align: left;
    opacity: 1.0;
    background: white;
    border-bottom: 1px solid $fog;

    br {
      display: block;
    }
  }
}


.branding {
  font-weight: 600;
}
@media (max-width: 500px) {
  .branding {
    float: left;
  }
}

.smallTitle {
  font-size: 10px;
  font-weight: 700;
  border-bottom: 1px solid $stone;
  margin-bottom: 1em;
}

.header-tag span {
  @extend a;
}
.header-tag {
  span:hover,
  span:active {
    color: $slate;
    background: $fog;
  }
}
.header-tag-selected {
  span {
    background: $fog;
  }
  span:hover,
  span:active {
    background: $mist;
  }
}

.showMenu {
  float: right;
  cursor: pointer;
  -webkit-transition: 0.2s color, 0.2s background;

  &:active {
    color: white;
    background: $slate;
  }
}

ul.mobileOpen {
  height: 100%;
  background: $slate;
  color: white;
  overflow-x: hidden; 
  overflow-y: auto;
  -webkit-transition: 0.2s color, 0.2s background;

  a {
    color: white;
  }

  li.branding a {
    color: white;
  }

  .hideOnMobile {
    display: block;
  }

  .header-tag {
    span:hover,
    span:active {
      color: white;
      background: $stone;
    }
  }
  .header-tag-selected {
    span {
      background: $stone;
    }
    span:hover,
    span:active {
      color: $slate;
      background: $mist;
    }
  }
}


.content {
  float: left;
  width: 700px;
  margin-left: 28%;
  padding: 1.5em;

  p {
    padding-bottom: 1em;
  }
}
@media (max-width: 500px) {
  .content {
    float: auto;
    width: 100%;
    margin: 0;
    margin-top: 4.7em;
  }
}


.content-item {
  border-bottom: 1px solid $fog;
  margin-bottom: 4em;

  p {
    padding-bottom: 1em;
    a { border-bottom: 1px solid $slate; }
  }
}

.info {
  padding-bottom: 1em;

  .title { font-weight: 600; }

  .link {
    margin-bottom: 0.5em;
    a {
      border-bottom: 1px solid $slate;
    }
    span {
      font-size: 11px;
      font-weight: 400;
      color: $grey;
    }
  }

  .inline span {
    color: $grey;
    font-size: 11px;
  }
  .date {
    text-transform: uppercase;
  }
}
  .tag {
    // and tag-*
    cursor: pointer;
    text-decoration: underline;
  }

  .img {
    width: 100%;
  }





//
//  Sticky
//  
//  ...component in stream
//
.sticky {
  width: 100%;
  border: 1px solid $slate;
  padding: 1.5em;
  margin-bottom: 5em;

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding-left: 1.5em;
  
    li {
      background-image: url(../media/licon.png);
      background-repeat: no-repeat;
      background-position: 0px center;
      background-size: 7px;
      padding-left: 2em;
    }
  }

  a {
    border-bottom: 1px solid $slate;
  }
}





//
//  Misc. media queries
//
@media (min-width: 501px) {
  .hideOnDesktop {
    display: none;
  }
}

@media (max-width: 500px) {
  .hideOnMobile {
    display: none;
  }
}










