* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

html,
body {
  height: 100%;
  background: white;
  font-family: 'source-code-pro', monospace;
  font-size: 13px;
  line-height: 1.7em; }

a {
  color: #292929;
  text-decoration: none;
  -webkit-transition: 0.2s color, 0.2s background; }
  a:hover {
    color: white;
    background: #292929; }

ul {
  height: 100%;
  list-style-type: none; }

.container {
  margin: 0 auto; }

.container-700 {
  width: 700px; }

.container-900 {
  width: 900px; }

ul.nav {
  position: fixed;
  height: 100%;
  width: 25%;
  float: left;
  text-align: right;
  padding: 1.5em;
  opacity: 0.25;
  -webkit-transition: 0.2s opacity; }
  ul.nav:hover {
    opacity: 1.0; }

.content {
  float: left;
  width: 700px;
  margin-left: 28%;
  padding: 1.5em; }

.branding {
  font-weight: 600; }

.content-item {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 4em; }
  .content-item p {
    padding-bottom: 1em; }
    .content-item p a {
      border-bottom: 1px solid #292929; }

.info {
  padding-bottom: 1em; }
  .info .title {
    font-weight: 600; }
  .info .link {
    margin-bottom: 0.5em; }
    .info .link a {
      border-bottom: 1px solid #292929; }
    .info .link span {
      font-size: 11px;
      font-weight: 400;
      color: #bfbfbf; }
  .info .inline span {
    color: #bfbfbf;
    font-size: 11px; }
  .info .date {
    text-transform: uppercase; }

.tag {
  cursor: pointer;
  text-decoration: underline; }

.img {
  width: 100%; }
