
$slate: rgb(41,41,41);
$stone: rgb(61,61,61);
$mouse: rgb(121,121,121);
$grey: rgb(191,191,191);
$mist: rgb(211,211,211);
$fog: rgb(241,241,241);

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: white;
  font-family: 'source-code-pro', monospace;
  font-size: 13px;
  color: $slate;
  line-height: 1.7em;
}

a {
  color: $slate;
  text-decoration: none;
  -webkit-transition: 0.2s color, 0.2s background;
  cursor: pointer;

  &:hover,
  &:active {
    color: white;
    background: $slate;
  }
}

ul {
  height: 100%;
  list-style-type: none;
}


//
//  container
//
.container-700 { margin: 0 auto; width: 700px; }
.container-900 { margin: 0 auto; width: 900px; }
@media (max-width: 500px) {
  .container-700,
  .container-900 {
    width: 100%;
  }
}





//
//  Nav
//
.nav {
  width: 100%;
  position: fixed;
  background: white;
  border: 1px solid $fog;
  padding: 1.5em 0 1.5em 0;

  ul {

    li {
      display: inline;
      cursor: pointer;

      &:hover,
      &:active {
        color: white;
        background: $slate;
      }
    }
  }

  .menu {
    display: none;
  }
}

.bcvm {
  font-weight: 600;
}

.links {
  float: right;
  li {
    margin: 0 0 0 2em;
  }
}



.menuOpen {
  height: 100%;
  width: 100%;
  background: $slate;
  color: white;
  border: 0;
  -webkit-transition: 0.2s color, 0.2s background;

  li {
    color: white;
  }

  br {
    display: block;
  }

  .feed {
    margin-top: 1.5em;
  }

  .links {
    display: block;

    li {
      line-height: 2.5em;
    }
  }
}

@media (max-width: 500px) {

  .nav {
    padding: 1.5em 1em 1.5em 1em;

    ul {
      display: block;

      li {
        display: block;
      }
      .bcvm {
        float: left;
      }
      .menu {
        display: inline;
        float: right;
      }
    }
  }

  .links {
    float: left;
    display: none;

    li {
      padding: 0;
    }
  }

}






//
//  Content
//
.content {
  padding-top: 6.5em;
}

.panel {
  border: 1px solid $slate;
  padding: 1.5em 1em 1.5em 1em;
  margin: 0 0 5em 0;
}

.loginWithFacebook {
  background: rgb(59,89,153);
  border-color: rgb(59,89,153);
  color: white;
  cursor: pointer;
}

.suggested {
  b {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding-left: 1.5em;
  
    li {
      background-image: url(../media/licon.svg);
      background-repeat: no-repeat;
      background-position: 0px center;
      background-size: 7px;
      padding-left: 2em;
    }
  }
}

.workout {
  padding: 0 0 1em 0;
  border-bottom: 1px solid $fog;
  margin: 1em 0 1em 0;
}

  .text {
    color: $grey;
  }

  .user {
    cursor: pointer;
    -webkit-transition: 0.2s background, 0.2s color;

    &:hover,
    &:active {
      background: $slate;
      color: white;
    }

    i {
      background: $slate;
      color: white;
      font-weight: 600;
      padding: 0 4px 0 3px;
    }
  }

  .points {}

  .desc {
    background: $fog;
    padding: 0 3px 0 3px;
    cursor: pointer;
    -webkit-transition: 0.2s background, 0.2s color;

    &:hover,
    &:active {
      background: $slate;
      color: white;
    }
  }


@media (max-width: 500px) {

  .content {
    padding: 6.5em 1em 0 1em;
  }

}
























.hideOnDesktop {
    display: none;
  }

//
//  Misc. media queries
//
@media (min-width: 501px) {
  .hideOnDesktop {
    display: none;
  }
}

@media (max-width: 500px) {
  .hideOnMobile {
    display: none;
  }
}


















