    <div class="content">
      <div class="content-item">
        <div class="info">
          <div class="title">Living in SF on the cheap</div>
          <div class="inline">
            <span class="date">Thu Nov 13 2014</span>
            <span>&middot;</span>
            <span class="tag tag-thoughts">#thoughts</span>
          </div>
        </div>
        <p>Yes, the boondocks of San Francisco. Consider this district a quiet, safe, plenty-of-parking gem in the city. Sure, it’s 80% Chinese American, but rent for a four bedroom house here is equivalent to a <a href="">two-bedroom condo</a> in SOMA. Don’t try to compete with techies in the Mission or SOMA–they’ll outlive you there.</p>
        <p>Scout out Sunset Supermarket (on Vicente and Irving) or local Asian grocers for meats (like, $0.99/lb chicken drumsticks cheap) and produce (probably the most affordable fruit and veggies you’ll find anywhere in SF).</p>
      </div>

      <div class="content-item">
        <div class="info">
          <div class="title link">
            <a href="https://casper.com/">Casper mattresses</a>
            <span>[casper.com]</span>
          </div>
          <div class="inline">
            <span class="date">November 6, 2014</span>
            <span>&middot;</span>
            <span class="tag tag-link">#link</span>
          </div>
        </div>
      </div>

      <div class="content-item">
        <div class="info">
          <div class="title">Max Beckmann</div>
          <div class="inline">
            <span class="date">November 6, 2014</span>
            <span>&middot;</span>
            <span class="tag tag-general">#general</span>
          </div>
        </div>
        <p><img class="img" src="beckmann.jpg"></p>
      </div>
    </div>