h1,
h2,
h3, {
  font-family: $sans;
  font-weight: 900;
}

h1 {
  font-size: 32px;
  line-height: 1.125em; // 36px
  margin-bottom: 20px;
}

h2,
h3 {
  margin-bottom: 15px;
}

p {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 1em;

  a {
    color: darken($blue, 12%);
    text-decoration: none;
  }
}

a {
  color: $slate;
  text-decoration: none;
  transition: color 0.2s ease-in;

  &:hover,
  &:focus {
    color: $husk;
  }
  &:active {

  }
  &:visited {

  }
}

ul {
  margin: 0;
  list-style-type: none;
}
li {
  margin: 0;
}

svg {
  -webkit-transition: color 0.2s;
  fill: currentColor;
  vertical-align: bottom;
}

.left {
  flex: 1;
  flex-direction: column;
}

.right {
  flex: 1;
  flex-direction: column;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.hidden {
  display: none;
}




@media (max-width: 700px) {

  h1 {
    font-size: 27px;
    margin-bottom: 15px;
  }

  h2,
  h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  p {
    font-size: 17px;
    line-height: 27px;
  }

}
