* {
  margin: 0;
  padding: 0;
  border: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900');
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700,900');

//$sans: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
//$sans: 'Roboto', sans-serif;
$sans: 'Lato', sans-serif;
$serif: Georgia, serif;

$slate: rgb(31,31,31);
$mist: rgba(0,0,0,0.4);
$fog: rgba(0,0,0,0.15);
$lightest: rgb(245,245,245);

$top: 1000;
$bottom: 0;

html,
body {
  height: 100%;
  width: 100%;
  font-family: $sans;
  font-weight: 400; 
  font-size: 13px;
  color: $slate;
  letter-spacing: 0.25px;
}

@media (max-width: 700px) {
  html,
  body {
    overflow-x: hidden;
  }
}

a {
  color: $slate;
  text-decoration: none;
}

a.link {
  border-bottom: 1px solid $fog;

  &:hover {
    border-bottom: 1px solid $slate;
  }
}

.bold {
  line-height: calc(12px * 1.5);
  font-weight: 700;
}

$side-width: 170px;

.side {
  position: fixed;
  background: rgba(255,255,255,1);
  border-right: 1px solid $lightest;
  height: 100%;
  width: $side-width;
  transform: translateZ(0);
  z-index: $top;
}

//  position hud
.position {
  height: 2px;
  width: $side-width + 1;
}
.position-left {
  position: absolute;
  display: inline;
  height: 2px;
  background: $slate;
}

nav {
  float: right;
  margin-top: 1em;

  ul {
    margin: 0;
    list-style-type: none;
  }
}

//  nav border animation
@-webkit-keyframes navAnimation {
  from {
    border-right-color: rgba(0,0,0,0.0);
  }
  to {
    border-right-color: $lightest;
  }
}

a.nav-link {
  display: inline-block;
  width: 100%;
  // sum of next two attributes => right=30px
  border-right: 5px solid rgba(0,0,0,0.0);
  padding: 15px 25px 15px 0;
  text-align: right;
  -webkit-transition: 0.3s border-right-color;
}

a.nav-link:hover {
  border-right-color: $lightest;
}

a.nav-link-current {
  border-right: 5px solid $lightest;
  //font-weight: 700;

  &:hover {
    -webkit-animation: none;
  }
}

/*
  side mobile
*/

$side-mobile-height: 54px;
$lr-padding: 20px;

@media (max-width: 700px) {
  .side {
    position: fixed;
    border-right: 0;
    border-bottom: 1px solid $lightest;
    height: $side-mobile-height;
    width: 100%;
    padding: 0 $lr-padding;
  }

  //  position hud
  .position {
    display: none;
  }

  nav {
    display: block;
    max-width: 100%;
    float: inherit;
    margin-top: 0;

    ul {
      margin: 0;
      list-style-type: none;

      li {
        display: inline-block;
        margin-right: $lr-padding;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  a.nav-link {
    display: inline-block;
    width: 100%;
    border-right: 0;
    border-bottom: 5px solid rgba(0,0,0,0);
    text-align: left;
    -webkit-transition: none;

    // 32/2=16, see line-height below
    padding: 16px 0 10px 0;
    line-height: $side-mobile-height - 32px;

    // margin applied to parent <li>
  }

  a.nav-link-current {
    border-right: 0;
    border-bottom: 5px solid $lightest;
    padding: 16px 0 11px 0;

    &:hover {
      -webkit-animation: none;
    }
  }
}


.content {
  font-size: 14px;
  font-weight: 400;
  font-family: $serif;
  line-height: 1.5em;
  z-index: $bottom;
}

$para: 500px;

img.content-img {
  width: 700px;
  margin: 1em 0;
  border-radius: 2px;
}

article.content-article {}

section.content-article-info {
  //border-bottom: 1px solid rgba(0,0,0,0.03);

  div {
    margin: 0 auto;
    max-width: $para;
  }
}

.article-heading {
  font-size: 18px;
  font-weight: 600;
  font-family: $sans;
  text-align: center;
  margin-bottom: 0.5em;
}

.article-date {
  font-family: $sans;
  text-align: center;
  color: $mist;
  font-size: 11px;
  margin-bottom: 0.5em;
}

section.content-article-section {
  margin: 0 auto;
  max-width: 700px;

  p {
    margin: 0 auto;
    max-width: $para;

    text-indent: 2em;

    &:first-of-type {
      text-indent: 0;
    }
  }
}

section.full-bleed {
  //background: $slate;
  //background: linear-gradient(45deg, rgba(255,242,179,0.3), rgba(77,180,255,0.3));
  background: linear-gradient(-30deg, rgb(89,150,165), rgb(39,5,48));
  width: 100%;
  padding: 25em 0 1em 0;
  margin-bottom: 1em;

  color: white;
  //color: $slate;

  .article-heading {
    text-align: left;
  }

  .article-date {
    text-align: left;
    color: white;
  }
}

.section-title {
  width: $para;
  margin: 0 auto;
  padding: 1em 0;
  font-weight: 600;
  font-family: $sans;
}

@media (max-width: 700px) {
  .content {
    section {
      padding: 0 $lr-padding;
    }

    p {
      max-width: 100%;
    }
  }

  img.content-img {
    max-width: 100%;
    margin: 1em 0;
  }

  section.full-bleed {
    padding: 10em $lr-padding 1em $lr-padding;
    margin-bottom: 1em;
  }
}


.splash {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: $sans;

  padding-top: 1em;

  h1,
  h2,
  p {
    width: $para;
    margin: 0 auto;
  }

  h1 {
    font-size: 24px;
    line-height: 1em;
    margin-bottom: 1em;
  }

  h2 {
    /*font-weight: 400;
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 700;
    text-transform: uppercase;*/
  }
}
















