///////////////////////////////////////////////////////////
// 0: vars          ///////////////////////////////////////
// 1: general       ///////////////////////////////////////
// 2: grid system   ///////////////////////////////////////
// 3: basic styles  ///////////////////////////////////////
// 4: ui            ///////////////////////////////////////
///////////////////////////////////////////////////////////


$sans: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'ff-tisa-web-pro', georgia, times, serif;
$mono: 'source-code-pro';

// colors
$slate: rgb(23,23,23);
$pebble: rgb(201,201,201);
$mist: rgb(231,231,231);
$fog: rgb(241,241,241);
$yellow: rgb(248,245,96);
$green: rgb(0, 190, 128);
$pink: rgb(255, 113, 160);
$blue: rgb(83,110,218);

// ui
$bg: $fog;
$highlight: $green;
$link: rgb(254,183,207);  // pale pink
$bannerA: rgb(203,201,81);

$top-padding: 150px;
$side-padding: 20%;

$vSpacing: 3em;


///////////////////////////////////////////////////////////
// 1        ///////////////////////////////////////////////
// general  ///////////////////////////////////////////////
///////////////////////////////////////////////////////////
* {
  margin: 0; padding: 0; outline: none; border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  //overflow: auto;
}

html,
body {
  height: 100%;
  width: 100%;
  background: $bg;
  color: $slate;
  font-family: $serif;
  font-size: 16px;
  color: $slate;
  line-height: 1.5em;
}



///////////////////////////////////////////////////////////
// 2            ///////////////////////////////////////////
// grid system  ///////////////////////////////////////////
///////////////////////////////////////////////////////////
.container {
  width: 1200px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}
.row {
  //margin-left: -20px;
  //margin-right: -20px;
  overflow: auto;
}
.col {
  display: inline;
  float: left;
  padding: 0 20px 0 20px;
}
.col12 { width:     100%; }
.col9 { width:      75%; }
.col6 { width:      50%; }
.col4 { width:      33.33%; }
.col3 { width:      25%; }



///////////////////////////////////////////////////////////
// 3              /////////////////////////////////////////
// basic styles   /////////////////////////////////////////
///////////////////////////////////////////////////////////
.highlight {
  color: $highlight;
}

.bottom-rule {
  border-bottom: 3px solid $mist;
}

h1,
h2 {
  margin-bottom: 20px; 
}

h1,
h2,
h3 {
  line-height: 1.3em;
  font-family: $sans;
  font-weight: 900;
}
h1 {}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 12px
}

p {
  margin-bottom: 24px;
  
  img {
    width: 100%;
  }

  a {
    font-family: $serif;
    font-size: 16px;
    font-weight: 400;
    box-shadow: $link 0px -2px 0px 0px inset;
    -webkit-transition: background 0.2s;

    &:hover {
      background: $link;
      color: $slate;
    }
    &:visited,
    &:active,
    &:focus {
      color: $slate;
    }
  }
}
p.large {
  font-size: 22px;
  line-height: 33px;
  margin-right: -50%;
}

p.pull-right {
  margin-right: -50%;
}

ul {
  margin: 0;
  list-style-type: none;
}
li {
  margin: 0;
}



///////////////////////////////////////////////////////////
// 4    ///////////////////////////////////////////////////
// ui   ///////////////////////////////////////////////////
///////////////////////////////////////////////////////////
.menu-wrapper {
  border-bottom: 3px solid $mist;
  overflow: auto;
}

nav {
  padding: 2em 0;
  font-family: $sans;
  font-size: 14px;
  font-weight: 500;
  overflow: auto;
}

$nav-portion: 25%;

.logo {
  float: left;
  padding: 3px 0;
}

nav ul {
  float: left;

  li {
    margin-bottom: 0.5em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

svg {
  fill: currentColor;
  vertical-align: bottom;
}

a {
  color: $slate;
  font-family: $sans;
  font-size: 14px;
  font-weight: 700;
  color: $slate;
  cursor: pointer;
  letter-spacing: 0.25px;
  transition: color 0.2s ease-in;
  text-decoration: none;
  
  svg {  margin: 0;  }
  
  &:hover,
  &:focus {
    color: $highlight;
  }
}

a[data-current='true'],
.current {
  color: $highlight;
}

.latest {

  h4 {
    line-height: 24px;
    margin-bottom: 7px;   // same as li a in nav
  }

  ul li a {
    // link
    color: $highlight;
    -webkit-transition: color 0.2s, background 0.2s;
    margin: 0 -3px;
    padding: 0 3px;

    &:hover {
      background: $green;
      color: $bg;
    }
  }

  ul li span {
    // date
    font-weight: 700;
    color: $highlight;
    opacity: 0.5;
    margin-left: 1em;
  }
}

.content {
  padding: $vSpacing 0 0 0;

  .col {
    min-height: 100px;
  }
}

.date,
.side {
  font-size: 12px;
  font-family: $sans;
  font-weight: 600;
}

.side.side-banner {
  padding-top: 1em;
}

.banner {
  background: $yellow;
  margin-left: -2em;
  padding: 0 2em;

  &:first-child {
    padding-top: 1em;
  }

  &:last-child {
    padding-bottom: 1em;
    margin-bottom: $vSpacing;
  }

  h3 {
    line-height: 1.5em;
  }
  p {
    font-family: $sans;
    font-weight: 400;
    margin: 0;
  }
  a {
    font-family: $sans;
    box-shadow: $bannerA 0px -2px 0px 0px inset;

    &:hover {
      background: $bannerA;
      color: $slate;
    }
  }
}

.compose {
  h1 {
    min-height: 1.3em;
  }
}

.compose-header {
  position: fixed;
  width: 100%;
  padding: 1em 0;
  background: $mist;

  input[type=text] {
    background: $fog;
    height: 30px;
    width: 100%;
    font-family: $sans;
    font-size: 16px;
    font-weight: 500;
    padding: 0 0.5em;
  }

  ul {
    li {
      display: inline-block;
    }
  }
}

.btn {
  background: $pebble;
  font-size: 14px;
  font-family: $sans;
  line-height: 30px;
  color: white;
  font-weight: 600;
  padding: 0 0.5em;
  margin-left: 1em;
  cursor: pointer;
  -webkit-transition: background 0.2s;

  &:hover {
    background: lighten($pebble, 4%);
  }

  &:active {
    background: darken($pebble, 4%);
  }
}

.btn.save {
  line-height: 27px;
}
.btn.save.unsaved {
  border-bottom: 2px solid $pink;
}
.btn.save.saved {
  border-bottom: 2px solid $green;
}

.compose-body {
  padding-top: 65px + 16px;
}

.textbox {
  width: 100%;
  background: $mist;
  min-height: 400px;
  font-family: $mono;
  font-size: 16px;
  padding: 0.5em;
}
