
// fonts
$sans: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'ff-tisa-web-pro', georgia, times, serif;
$mono: 'source-code-pro';

// colors
$slate: rgb(23,23,23);
$lightSlate: rgb(33,33,33);
$pebble: rgb(155,155,155);
$husk: rgb(199,152,22);
$husk: rgb(147, 188, 191);
$fog: rgb(241,241,241);
$mist: rgb(231,231,231);

$mist30: rgba(231,231,231,0.3);
$mist70: rgba(231,231,231,0.5);

$pink: rgb(255,113,160);
$blue: rgb(83,110,218); $blue: $husk;
$green: rgb(53,120,61);
$purple: rgb(182,91,224);

$pink50: rgba(255,113,160,0.5);
$blue50: rgba(83,110,218,0.5);
$green50: rgba(53,120,61,0.5);
$purple50: rgba(182,91,224,0.5);


* {
  margin: 0; padding: 0; outline: none; border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: $fog;
  color: $slate;
  font-family: $serif;
  font-size: 20px;
  color: $slate;
  line-height: 1.5em;
  letter-spacing: 0.25px;
}

@import 'basic';
@import 'menu';
@import 'content';
@import 'login';
@import 'compose';
@import 'icon';
