<!DOCTYPE html>
<html lang="en">
<head>

<title>blwsk</title>

<script type="text/javascript" src="//use.typekit.net/vht6sjr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>


  <div class="bar">
    <div class="content">

      <ul class="nav">

        <!-- logo -->
        <li class="top nav-item">
          <a class="logo" href="/">Kevin Bielawski</a>
          <span id="more" class="more mobile-only" mobile="closed">More</span>
        </li>

        <!-- nav -->
        <li class="about nav-item mobile-hide"><a href="/about">About me</a></li>
        <li class="projects nav-item mobile-hide"><a href="/projects">Projects</a></li>

        <!-- find me on... -->
        <li class="nav-item mobile-hide"><a class="twitter" href="http://twitter.com/blwsk">Twitter</a></li>
        <li class="nav-item mobile-hide"><a class="github" href="http://github.com/blwsk">GitHub</a></li>
        <li class="nav-item mobile-hide"><a class="medium" href="http://medium.com/@kevinbielawski">Medium</a></li>
        <li class="nav-item mobile-hide"><a class="soundcloud" href="http://soundcloud.com/kevinbielawski">SoundCloud</a></li>

      </ul>

    </div>
  </div>



  <div class="main">
    <div class="content">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <img src="images/img.jpg">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>
  </div>



<script src="js/jquery.js"></script>
<script src="js/main.js"></script>
</body>
</html>
