.container {
  min-height: 100vh;
  margin-left: 25%;

  .col.sneak-peek:first-of-type {
    padding-top: 87px;
  }
  .col.sneak-peek:last-of-type {
    hr {
      display: none;
    }
  }
}

.col {
  width: 600px;
  margin: 0 auto;
  padding: 90px 0;

  img {
    width: 150%;
    margin-left: -25%;
    margin-right: -25%;
  }

  a:hover {
    color: $blue;
  }
}

.col.sneak-peek {
  position: relative;
  padding: 0 0 30px 0;
  margin-bottom: 30px;

  p {
    display: none;
    margin-bottom: 0;
  }

  p:nth-of-type(1) {
    display: block;
  }

  h1,
  h2,
  h3 {
    display: none;
  }

  h1:first-of-type {
    display: block; // only show <h1> rendered before ReactMarkdown component
  }
}

hr {
  position: absolute;
  height: 3px;
  background: $mist;
  width: 140%;
}

.date,
.small {
  font-family: $mono;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: $pebble;
  margin-bottom: 2em;
}

.more {
  width: 100%;
  text-align: right;
  margin-bottom: 30px;

  a {
    font-family: $mono;
    font-size: 12px;
    font-weight: 700;
    color: $slate;
  }
}

@media (max-width: 700px) {

  .container {
    width: 100%;
    min-height: auto;
    margin-left: 0;
    padding: 30px 1em;

    .col.sneak-peek:first-of-type {
      padding-top: 0;
    }
  }

  .col {
    width: 100%;
    padding: 0;

    img {
      width: 100%;
    }
  }

  hr {
    width: 100%;
  }

}